<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a href="{{ site.baseurl }} /personal_projects/personal-projects/">Personal Projects</a>
        <a href="{{ site.baseurl }} /university_projects/university-projects/">University Projects</a>
        <a href="/about">About Me</a>
        <a href="/posts">Archive</a>


    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>
